force-app/main/default/flows/Asset_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>iPads</name>
        <choiceText>iPads</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>iPads</stringValue>
        </value>
    </choices>
    <choices>
        <name>Laptops</name>
        <choiceText>Laptops</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Laptops</stringValue>
        </value>
    </choices>
    <choices>
        <name>Projector1</name>
        <choiceText>Projector1</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Projector2</name>
        <choiceText>Projector2</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Projector3</name>
        <choiceText>Projector3</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Projector4</name>
        <choiceText>Projector4</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Projectors</name>
        <choiceText>Projectors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Projectors</stringValue>
        </value>
    </choices>
    <description>Screens for control of assets</description>
    <dynamicChoiceSets>
        <name>ProjectorAssets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_List</elementReference>
            </value>
        </filters>
        <object>Asset__c</object>
        <outputAssignments>
            <assignToReference>LookupUpdate.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <label>Asset Selection</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Reserve_Update</name>
        <label>Reserve Update</label>
        <locationX>489</locationX>
        <locationY>232</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Asset</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReservedDate__c</field>
            <value>
                <elementReference>Date_Choice</elementReference>
            </value>
        </inputAssignments>
        <object>Asset__c</object>
    </recordUpdates>
    <screens>
        <name>Asset_Time_Choice</name>
        <label>Asset Time Choice</label>
        <locationX>489</locationX>
        <locationY>102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reserve_Update</targetReference>
        </connector>
        <fields>
            <name>Date_Choice</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date Choice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Asset</name>
        <label>Select Asset</label>
        <locationX>326</locationX>
        <locationY>104</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asset_Time_Choice</targetReference>
        </connector>
        <fields>
            <name>Selected_Asset</name>
            <choiceReferences>ProjectorAssets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selected Asset</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>View_Assets</name>
        <label>View Assets</label>
        <locationX>133</locationX>
        <locationY>99</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Asset</targetReference>
        </connector>
        <fields>
            <name>Asset_List</name>
            <choiceReferences>Projectors</choiceReferences>
            <choiceReferences>Laptops</choiceReferences>
            <choiceReferences>iPads</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asset List</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>View_Assets</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Available</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
    <variables>
        <name>LookupUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
</Flow>
