force-app/main/default/flows/Asset_Mgmt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>iPad_add</name>
        <choiceText>iPads</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>iPads</stringValue>
        </value>
    </choices>
    <choices>
        <name>Laptop_add</name>
        <choiceText>Laptops</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Laptops</stringValue>
        </value>
    </choices>
    <choices>
        <name>Projecter_add</name>
        <choiceText>Projecters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Projecters</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Or_Delete</name>
        <label>Add Or Delete</label>
        <locationX>322</locationX>
        <locationY>154</locationY>
        <defaultConnectorLabel>nothing</defaultConnectorLabel>
        <rules>
            <name>Add_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Screen</targetReference>
            </connector>
            <label>Add Option</label>
        </rules>
        <rules>
            <name>Delete_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Screen</targetReference>
            </connector>
            <label>Delete Option</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Asset_to_Delete2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Asset__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Asset_Type_Addition</name>
        <dataType>String</dataType>
        <displayField>AssetType__c</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AssetType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Projectors</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Laptops</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssetType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>iPads</stringValue>
            </value>
        </filters>
        <object>Asset__c</object>
        <valueField>AssetType__c</valueField>
    </dynamicChoiceSets>
    <label>Asset Mgmt</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record_Now</name>
        <label>Create Record Now</label>
        <locationX>672</locationX>
        <locationY>110</locationY>
        <inputAssignments>
            <field>AssetType__c</field>
            <value>
                <elementReference>Asset_Addition_Type_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Asset_to_Add</elementReference>
            </value>
        </inputAssignments>
        <object>Asset__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Record_Now</name>
        <label>Delete Record Now</label>
        <locationX>675</locationX>
        <locationY>240</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_to_Delete</elementReference>
            </value>
        </filters>
        <object>Asset__c</object>
    </recordDeletes>
    <screens>
        <name>Add_Screen</name>
        <label>Add Screen</label>
        <locationX>517</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record_Now</targetReference>
        </connector>
        <fields>
            <name>Asset_to_Add</name>
            <dataType>String</dataType>
            <fieldText>Asset to Add</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Asset_Addition_Type_new</name>
            <choiceReferences>iPad_add</choiceReferences>
            <choiceReferences>Laptop_add</choiceReferences>
            <choiceReferences>Projecter_add</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asset Addition Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_Management</name>
        <label>Asset Management</label>
        <locationX>142</locationX>
        <locationY>154</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Or_Delete</targetReference>
        </connector>
        <fields>
            <name>Add_Record</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Record</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Delete_Record</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete Record</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delete_Screen</name>
        <label>Delete Screen</label>
        <locationX>516</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Record_Now</targetReference>
        </connector>
        <fields>
            <name>Asset_to_Delete</name>
            <choiceReferences>Asset_to_Delete2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asset to Delete</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Asset_Management</startElementReference>
    <status>Draft</status>
</Flow>
